@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,800");
:root {
  --color-white: #ffffff;
  --color-light: #f1f5f9;
  --color-black: #121212;
  --color-night: #001632;
  --color-red: #ff4757;
  --color-blue: #34ace0;
  --color-green: #00b894;
  --drk-green: #20bf6b;
  --drk-blue: #338fc9;
  --color-gray: #ced6e0;
  --color-grayish: #dadce0;
  --main-color: #f8a5c2;
  --main-text-color: #2c2c54;
  --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.App {
  text-align: center;
}

hr {
  color: var(--color-light);
  margin: 15px 0;
}

a {
  color: var(--drk-blue);
}

.ant-alert {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 1em;
}

.lazyContent {
  text-align: center;
  width: 100%;
  margin: 100px 0;
}

.menuBar {
  padding: 0 55px;
  margin-bottom: 3rem;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.menuBar .logo {
  display: inline-block;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menuBar .logo img {
  width: 60px;
}

.menuBar .logo a {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.menuBar .logo .title {
  font-size: 12pt;
  font-weight: bold;
  color: #282c34;
  margin-left: 5px;
}

.menuCon {
  width: calc(100% - 150px);
  float: left;
}

.menuCon .ant-menu-item {
  margin: 0 10px !important;
}

.menuCon .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menuCon .ant-menu-horizontal {
  border-bottom: none;
}

.menuCon .leftMenu {
  float: left;
}

.menuCon .rightMenu {
  float: right;
}

.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;

  display: none;
  background: none;
}

.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}

.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #1890ff;
}

.barsBtn:after {
  top: auto;
  bottom: -6px;
}

.ant-drawer-body {
  padding: 0;
}

.barsMenu > span {
  display: block;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.site-page-header span {
  font-size: 11pt;
  color: #222f3e;
}
.site-page-header .ant-page-header-back {
  padding: 4px;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.site-layout-content {
  padding: 2rem;
  background-color: #fafafa;
}

/* .site-layout-content .ant-typography {
  background-color: #fafafa;
} */

.ant-layout-footer {
  margin-top: 5rem;
}

.card-form .ant-card {
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2) !important;
}

.card-form .ant-card-head-wrapper {
  text-align: center;
}

.card-form .ant-card-head-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.resume-contact {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  padding-left: 25px;
}

.resume-contact svg {
  margin-right: 15px;
}
.resume-intro .ant-typography {
  font-size: 1rem;
}

.resume-section-heading {
  border-left: 4px solid;
}

.resume-section-heading h2 {
  position: relative;
  padding-left: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
  /* color: #54b689; */
}

.resume-aside {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  padding-left: 25px;
}

.resume-aside .ant-tag {
  padding: 5px;
  font-size: 0.8rem;
}
.resume-aside .ant-tag svg {
  margin-right: 3px;
}

.resume-name {
  font-size: 2.75rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
}
.resume-tagline {
  font-size: 1rem;
  font-weight: 300;
}
.resume-contact {
  font-size: 0.9;
}
.resume-social-list .ant-btn-link {
  font-size: 1rem;
  color: #282c34;
}

.tb-colored thead th {
  background-color: var(--main-color);
  padding: 10px;
  font-size: 1.2em;
}

.tb-colored tbody tr:nth-of-type(odd) {
  background: var(--color-light);
}

.tb-colored thead th:last-child {
  text-align: center;
}

.tb-colored thead th:first-child {
  min-width: 200px;
}

.newest-post a {
  color: var(--color-night);
}

.article {
  padding: 1em;
}
.article-item {
  min-height: 12rem;
  margin-bottom: 2rem;
}
.article-item h4:hover {
  color: var(--color-blue);
}

.empty-img {
  background-color: var(--color-light);
  border-radius: 3px;
  width: auto;
  text-align: center;
}

.empty-img .ant-skeleton-image {
  vertical-align: middle;
  background: none;
  min-height: 10rem;
}

.article-aside {
  padding: 5px;
  /* background-color: var(--color-light); */
  overflow: hidden;
}

.article-aside .article-meta {
  float: right;
}

.article-aside .article-meta span {
  font-size: 0.8em;
  word-spacing: 2px;
}
.article-detail {
  padding: 10px;
}
.article-detail .empty-img .ant-skeleton-image {
  min-height: 15rem;
}

.detail-body {
  margin-top: 2rem;
  font-size: 1.3em;
  line-height: 2em;
  font-weight: 300;
}

.detail-body .article-meta {
  font-size: 0.8em;
}

.more-link {
  display: inline-block;
  padding: 6px 12px 6px 12px;

  font-size: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--color-night);
  color: var(--color-night);
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

/* banner*/
.banner {
  text-align: center;
}
.banner h1 {
  color: #fff;
  font-size: 2.8em;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(
    to right,
    #095fab 10%,
    #25abe8 50%,
    var(--main-color) 60%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5.5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.wrapper {
  margin: auto;
  max-width: 75rem;
}
.notfoundpage {
  text-align: center;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.notfoundpage h2 {
  text-align: center;
  margin: 30px 15px;
  font-weight: bold;
}

.notfoundpage a {
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 10px 15px;
  border-radius: 0;
  color: #416475;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}

.notfoundpage a:hover {
  color: var(--drk-blue);
}

.zoom-area {
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}

.error-container {
  text-align: center;
  font-size: 180px;
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #ffb485;
}
.error-container > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.error-container > span:nth-of-type(1) {
  color: #d1f2a5;
  animation: colordancing 4s infinite;
}
.error-container > span:nth-of-type(3) {
  color: #f56991;
  animation: colordancing2 4s infinite;
}
.error-container > span:nth-of-type(2) {
  width: 120px;
  height: 120px;
  border-radius: 999px;
}
.error-container > span:nth-of-type(2):before,
.error-container > span:nth-of-type(2):after {
  border-radius: 0%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 999px;
  box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
    inset 0 30px 0 rgba(239, 250, 180, 0.4),
    inset -30px 0 0 rgba(255, 196, 140, 0.4),
    inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  animation: shadowsdancing 4s infinite;
}
.error-container > span:nth-of-type(2):before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

@keyframes shadowsdancing {
  0% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
      inset 0 30px 0 rgba(239, 250, 180, 0.4),
      inset -30px 0 0 rgba(255, 196, 140, 0.4),
      inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
  25% {
    box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4),
      inset 0 30px 0 rgba(209, 242, 165, 0.4),
      inset -30px 0 0 rgba(239, 250, 180, 0.4),
      inset 0 -30px 0 rgba(255, 196, 140, 0.4);
  }
  50% {
    box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4),
      inset 0 30px 0 rgba(245, 105, 145, 0.4),
      inset -30px 0 0 rgba(209, 242, 165, 0.4),
      inset 0 -30px 0 rgba(239, 250, 180, 0.4);
  }
  75% {
    box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4),
      inset 0 30px 0 rgba(255, 196, 140, 0.4),
      inset -30px 0 0 rgba(245, 105, 145, 0.4),
      inset 0 -30px 0 rgba(209, 242, 165, 0.4);
  }
  100% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
      inset 0 30px 0 rgba(239, 250, 180, 0.4),
      inset -30px 0 0 rgba(255, 196, 140, 0.4),
      inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
}
@keyframes colordancing {
  0% {
    color: #d1f2a5;
  }
  25% {
    color: #f56991;
  }
  50% {
    color: #ffc48c;
  }
  75% {
    color: #effab4;
  }
  100% {
    color: #d1f2a5;
  }
}
@keyframes colordancing2 {
  0% {
    color: #ffc48c;
  }
  25% {
    color: #effab4;
  }
  50% {
    color: #d1f2a5;
  }
  75% {
    color: #f56991;
  }
  100% {
    color: #ffc48c;
  }
}

@media (max-width: 768px) {
  .barsMenu {
    display: inline-block;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .logo a {
    padding: 10px 20px;
  }

  .resume-intro .ant-typography {
    margin-top: 20px;
    font-size: 0.75rem;
    text-align: justify;
  }
  .resume-contact {
    border: 0;
    padding-left: 0px;
    margin-top: 20px;
  }
  .site-layout-content {
    padding: 15px;
  }
  .ant-layout-content {
    padding: 0 20px !important;
  }
  .menuBar {
    padding: 0 20px;
  }
  .menuBar .logo {
    display: inline-block;
    margin-left: 5px;
  }
  .menuBar .logo img {
    width: 50px;
  }
  .menuBar .logo a {
    padding: 0;
  }
  .resume-aside {
    border: none;
    padding: 0;
  }
}
